{% extends 'inventory/base.html' %}
{% load static %}
{% load tz %}

{% block title %}Transaction History{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">📜 Transaction History</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>S.no</th>
                <th>Item</th>
                <th>Category</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Storage Location</th>
                <!-- <th>Remarks</th> -->
            </tr>
        </thead>
        <tbody>
            {% for txn in page_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ txn.item.name }}</td>
                <td>
                    {% if txn.item.category in PREDEFINED_CATEGORIES %}
                        {{ txn.item.category }}
                    {% else %}
                        {{ txn.item.category }} <span class="badge bg-info text-dark">Custom</span>
                    {% endif %}
                </td>
                <td>
                    {% if txn.transaction_type == 'IN' %}
                        <span class="badge bg-success">Stock In</span>
                    {% else %}
                        <span class="badge bg-danger">Stock Out</span>
                    {% endif %}
                </td>
                <td>{{ txn.quantity }}</td>
                <td>{{ txn.date|localtime|date:"d-m-Y h:i A" }}</td>
                <td>{{ txn.storage_location }}</td>
                <!-- <td>{{ txn.remarks }}</td> -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center text-muted">No transactions available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <!-- Pagination Controls -->
    <div class="d-flex justify-content-center mt-3">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}


